/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

@import url("components/nav.css");
@import url("components/banner.css");
@import url("components/buttons.css");
@import url("components/card.css");
@import url("components/footer.css");

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;

}

h1 {
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.container_top p {
  font-weight: lighter;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

li{
  list-style-type: none;
}

/* Custom design below! */
